body {
    font-family: sans-serif;
    background-color: Aqua;
}
h3{
    text-align: center;
    color: darkblue;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    font-size: 25px;
}
h3:hover{
    color: white;
    background-color: darkblue;
    border: darkblue 2px solid;
    transition: 1s linear;
}
header p{
    text-align:center ;
}
nav{
    text-align: center;
    border: dashed 4px blue;
    padding: 20px;
    justify-content: space-between;
}
.a{
    font-size: 20px;
    text-decoration: none;
    margin-left:  20px;
    margin-right: 20px;
    color: rgb(0, 0, 0);
    padding-bottom: 3px;
    border-bottom:2px white ;
    background-color: aquamarine;
    border: solid 1px aquamarine;
    border-radius: 20px;
    padding: 8px;
}
.a:hover{
   color: DarkBlue;
    border:  2px DarkBlue solid ;
    transition: 0.5s  ease-in;
}
header{
    background-color: white;
    padding: 20px;
}
main{
    padding-left: 100px;
    padding-right:100px ;
    justify-content: center;
}
li{
    list-style-type: none;
    margin-top:  10px;
    font-size: 18px;
    margin-left: 2px ;
    margin-right: 10px;
}
.little{
    margin-top: 2px;
    font-size: 15px;
}
.hours::before{
    content: url("https://img.icons8.com/ios-filled/50/000000/horses-sign.png");
    margin: 5px;
}
.mi_ch::before{
    content: url("https://img.icons8.com/ios-filled/50/000000/speedometer.png");
    margin: 5px;
}
.max::before{
    content: url("https://img.icons8.com/ios-filled/50/000000/wind--v2.png");
    margin: 5px;
}
.mi::before{
    content: url("https://img.icons8.com/ios-filled/50/000000/sonometer.png");
    margin: 5px;
}
div img{
    height: 211px;
    width: 375px;
}
.text_c{
    float: left;
    width: 200px;
    border-right: 2px darkblue dashed;
}
.img_c img{
    float: left;
    transform: translateY(40px);
    margin-left: 10px;
}
.img_c:hover img{
    border: 6px dotted Blue;
    border-radius: 10%;
    transition: 1.5s ease-out;
}   
.img_c h2{
    text-align: center;
    margin-top: 40px;
}
.model_c{
    display: flex;
    margin: 20px;
    border: 3px darkblue solid;
    width: 600px;
    padding-right: 10px;
    background-image: linear-gradient(to right, LightBlue, DeepSkyBlue);
    border-radius: 10%;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.motor::before{
    content: url("https://img.icons8.com/ios-filled/50/000000/engine.png");
    margin: 5px;
}
.model_3{
    display: flex;
    margin: 20px;
    border: 3px darkblue solid;
    width: 600px;
    padding-right: 10px;
    background-image: linear-gradient(to right, LightBlue, DeepSkyBlue);
    justify-content: center;
    border-radius: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.img_3 img{
    float: left;
    margin-left: 10px;
}
.img_3:hover img{
    border: 6px dotted Blue;
    border-radius: 10%;
    transition: 1.5s ease-out;
}   
.text_3{
    float: left;
    width: 200px;
    border-right: 2px darkblue dashed;
}
.img_3 h2{
    text-align: center;
    margin-top: 40px;
}
.model_x{
    display: flex;
    margin: 20px;
    border: 3px darkblue solid;
    width: 600px;
    padding-right: 10px;
    background-image: linear-gradient(to right, LightBlue, DeepSkyBlue);
    border-radius: 10%;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.text_x{
    float: left;
    width: 200px;
    border-right: 2px darkblue dashed;
}
.img_x h2{
    text-align: center;
    margin-top: 40px;
}
.img_x img{
    float: left;
    margin-left: 10px;
}
.img_x:hover img{
    border: 6px dotted Blue;
    border-radius: 10%;
    transition: 1.5s ease-out;
}   
.box::before{
    content: url("https://img.icons8.com/ios-filled/50/000000/truck-weight-max-loading.png");
}
.model_y{
    display: flex;
    margin: 20px;
    border: 3px darkblue solid;
    width: 600px;
    padding-right: 10px;
    background-image: linear-gradient(to right, LightBlue, DeepSkyBlue);
    border-radius: 10%;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.text_y{
    float: left;
    width: 200px;
    border-right: 2px darkblue dashed;
}
.img_y img{
    float: left;
    margin-left: 10px;
}
.img_y:hover img{
    border: 6px dotted Blue;
    border-radius: 10%;
    transition: 1.5s ease-out;
}   
.img_y h2{
    text-align: center;
    margin-top: 40px;
}
footer{
    background-color: darkblue;
    color: aqua;
    padding: 20px 0 20px 40px;
    font-size: 18px;
}
footer a{
    color: darkblue;
    text-decoration: none;
    text-align: center;
    margin: 0 25px 0 25px;
    border: 2px solid aqua;
    background-color: aqua;
    padding: 11px;
    border-radius: 22px;
}
footer a:hover{
    box-shadow: 0px -10px 2px 2px DarkTurquoise;
    transition: 1s linear;
    color: black;
}
.begin{
    text-align: center;
    font-size: 20px;
    font-family: Palatino, URW Palladio L, serif;
}
